<hr>
  <section>
    <article>
      <div class='row'>
        <div class='col-sm-4'>
          <div id='profile'><%= image_tag 'profile.jpg', id: 'profile-image' %></div>
        </div>
        <div class='col-sm-8'>
          <h2>Tonna</h2>
          <h5 class='gray'>#Ruby on Rails 程序员(初级往上一点点)#</h5>
        </div>
      </div>
      <hr>
      <h3 class='center'>技术栈</h3>
      <h4 class='center blue'>↓</h4>

      <div class='row'>
        <div class='col-sm-1'></div>
        <div class='col-sm-10'>
          <div class='row technology-stack'>
            <div class='col-sm-3'>
              <h4>RoR</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Javascript</h4>
            </div>
            <div class='col-sm-3'>
              <h4>React</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Node.js</h4>
            </div>
          </div>
          <div class='row technology-stack'>
            <div class='col-sm-3'>
              <h4>Mysql</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Postgresql</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Elasticsearch</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Go</h4>
            </div>
          </div>
          <div class='row technology-stack'>
            <div class='col-sm-3'>
              <h4>Redis</h4>
            </div>
            <div class='col-sm-3'>
              <h4>...</h4>
            </div>
            <div class='col-sm-3'>
              
            </div>
            <div class='col-sm-3'>
              
            </div>
          </div>
        </div>
        <div class='col-sm-1'></div>
      </div>
    </article>
  </section>
