<nav>
    <p><%= link_to 'Posts', posts_path, class: "#{controller_name == 'posts' ? 'blue' : ''}" %><span>/</span><%= link_to 'About Me', about_me_path, class: "#{controller_name == 'me_page' ? 'blue' : ''}" %></p>
</nav>